table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-sizing: border-box;
    font-family: 'Helvetica';
  }
  
  thead {
    background-color: #346d93;
    color: #fff;
    font-size: 18px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 6px 10px;
    font-size: 16px;
    text-align: left;
    font-family: 'Helvetica';
  }
  
  th {
    text-align: center;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: 'Helvetica';
  }
  
  .actions {
    display: flex;
    justify-content: space-around;
  }
  
  .edit {
    padding: 10px 30px;
    background-color: #349339;
    color: #fff;
    margin-right: -50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease;
    font-family: 'Helvetica';
  }
  
  .delete{
    padding: 10px 30px;
    background-color: #ff0000;
    color: #fff;
    margin-left: 1px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease;
    font-family: 'Helvetica';


  }
  .edit:hover, .delete:hover {
    background-color: #a5c8df;
  }
  