.container {
    display: flex;
    align-items: center;
  }
  
  .input {
    text-align: center;
    margin-right: 10px;
    padding: 8px 200px;
    font-size: 16px;
    border: 2px solid #548db3;
    border-radius: 5px;
  }
  
  .input:focus {
    outline: none;
  }